img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style-type: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.hero__button,
.filter__button,
.subscription__button,
.modal-button {
  cursor: pointer;
  font-family: inherit;
}

.section-title {
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.filter, .clients__link, .social-link, .social-icons, .services__text, .advantages__icon, .terms-label, .modal-checkbox, .subscription__button, .footer-social-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  position: relative;
}

.contacts__link {
  color: var(--main-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 10px;
  -webkit-transition: fill, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.mobile-menu-button {
  position: absolute;
  right: 15px;
  top: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}
.mobile-menu-button__close-icon {
  display: none;
}
.mobile-menu-button.is-open .mobile-menu-button__close-icon {
  display: block;
}
.mobile-menu-button.is-open .mobile-menu-button__open-icon {
  display: none;
}

/* Header logo */
.logo {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 95px;
}

.logo-web {
  color: #2196f3;
}

/* Footer logo */
.footer-list__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo-studio {
  color: #ffffff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
}
@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer-list__logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.adress {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  padding-left: 0;
  -webkit-transition: fill, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress:focus, .adress:hover {
  color: #2196f3;
  fill: #2196f3;
}

.contacts__link--footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-links {
  margin-top: 60px;
}
.footer-social-links__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-social-links__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-social-links__link {
  width: 100%;
  height: 100%;
  fill: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links__link:focus, .footer-social-links__link:hover {
  background-color: #2196f3;
}

.subscription-form {
  margin-top: 60px;
}

.subscription {
  margin-top: 60px;
}
.subscription__input {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  min-height: 50px;
  width: 100%;
  min-width: 360px;
  padding-left: 15px;
  margin-bottom: 20px;
  color: #f5f5f5;
}
.subscription__input:focus {
  border-color: #2196f3;
}
.subscription__button {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 28px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__button:focus, .subscription__button:hover {
  background-color: #188ce8;
}
.subscription__icon {
  margin-left: 10px;
}

.hero {
  background-color: #2f303a;
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background.jpg);
}
.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f5f5f5;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:focus, .hero__button:hover {
  background-color: #188ce8;
}
.hero__title {
  color: #f5f5f5;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 695px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 528px;
  max-height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #ffffff;
}
.modal__close:hover, .modal__close:focus {
  fill: #2196f3;
}
.modal__close-button {
  display: block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
  color: #212121;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal-list {
  margin: 12px 40px 20px;
}
.modal-list__item {
  margin-top: 10px;
}
.modal-list__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.modal-list__input-field {
  position: relative;
}

.modal-input {
  display: block;
  width: 100%;
  padding: 10px 30px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #2196f3;
}

.modal-input:focus + .input-icon {
  fill: #2196f3;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  width: 100%;
  resize: none;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:focus {
  border-color: #2196f3;
}
.modal-comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.terms-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox {
  font-size: 14px;
  line-height: 24px;
}

.checkbox-icon {
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.terms-checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  border: none;
}

.terms-label {
  font-size: 14px;
  line-height: 24px;
}

.terms-link {
  color: #2196f3;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 5px;
}

.modal-button {
  display: block;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:focus, .modal-button:hover {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }
}
.advantages__icon {
  background-color: #f5f4fa;
  padding: 25px 10px;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .advantages__item {
    max-width: 450px;
    margin: 15px auto;
  }
}
@media screen and (max-width: 767px) and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (max-width: 767px) and (min-width: 1200px) {
  .advantages__item {
    width: 270px;
  }
}
.advantages__title {
  color: #212121;
  font-size: 14px;
  line-height: 1.18;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}
.advantages__text {
  font-size: 14px;
  line-height: 1.71;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.services__image {
  position: relative;
}
.services__text {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  color: #ffffff;
  padding: 27px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}
.services__item:not(:first-child) {
  margin-left: 30px;
}

.section-visual {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section-visual {
    display: none;
  }
}

.team-section {
  background-color: #f5f4fa;
}

.team {
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }
}
.team__member {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team__member {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .team__member:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__member {
    width: calc((100% - 60px) / 2);
    max-width: 355px;
  }
}
@media screen and (min-width: 1200px) {
  .team__member {
    width: calc((100% - 120px) / 4);
  }
}

.member {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.member__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}
.member__role {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 15px;
}
.member__footer {
  padding: 30px 10px;
}

.social-item {
  background-color: #ffffff;
  margin-right: 10px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.social-item:last-child {
  margin-right: 0;
}

.social-link {
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-transition: background-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 30px auto;
}
.clients__link {
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: border-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}
.clients__item {
  width: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
  }
}
@media screen and (max-width: 767px) {
  .clients {
    max-width: 450px;
  }
}

.filter {
  margin-bottom: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .filter {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.filter__button {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color, color, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, color, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.projects__item {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .projects__item {
    width: calc((100% - 30px) / 1);
    max-width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .projects__item {
    width: calc((100% - 60px) / 2);
    max-width: 355px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    width: calc((100% - 90px) / 3);
  }
}

.project {
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}
.project__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project__type {
  font-size: 16px;
  line-height: 1.88;
}
.project__card {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__card:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__description-card {
  position: relative;
  overflow: hidden;
}
.project__description {
  position: absolute;
  top: 0;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 28px;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__card:hover .project__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}/*# sourceMappingURL=main.css.map */