.advantages {
  display: flex;

  &__icon {
    @extend %centered-flex;
    background-color: $eighth-color;
    padding: 25px 10px;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__item:not(:first-child) {
    margin-left: 30px;
  }

  &__title {
    color: $secondary-color;
    font-size: 14px;
    line-height: 1.18;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
