.mobile-menu {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: scroll;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    &.is-open {
      transform: translateX(0);
    }

    background-color: $sixth-color;
    display: none;
    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mobile-menu-button {
  display: block;
  @media screen and (min-width: 768px) {
    display: none;
  }

  z-index: 1;

  position: absolute;

  right: 15px;
  top: 16px;

  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;

  background-color: inherit;

  transition: fill 250ms $timing-function;

  &:hover,
  &:focus {
    fill: $third-color;
  }
}

.header-social {
  display: flex;
  justify-content: flex-start;

  margin-left: 40px;
  // margin-right: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__item:not(:first-child) {
    margin-left: 20px;
    padding-left: 15px;
    border-left: 1px solid $tenth-color;
  }

  &__link {
    color: $third-color;
  }
}

.mobile-menu-button--close {
  z-index: 2;
}
