.mobile-menu {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: scroll;
    overflow-y: auto;

    padding: 48px 0 48px 40px;
    transform: translateX(100%);
    transition: transform 500ms $timing-function;
    &.is-open {
      transform: translateX(0);
    }

    background-color: $sixth-color;
    display: none;
    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mobile-menu-button {
  display: block;
  @media screen and (min-width: 768px) {
    display: none;
  }

  z-index: 1;

  position: absolute;

  right: 15px;
  top: 16px;

  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;

  background-color: inherit;

  transition: fill 250ms $timing-function;

  &:hover,
  &:focus {
    fill: $third-color;
  }
}

.header-social {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  margin-top: 60px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__item:not(:last-child) {
    padding-right: 15px;
    border-right: 1px solid $tenth-color;
  }

  &__link {
    color: $third-color;
  }
}

.mobile-menu-button--close {
  z-index: 2;
}
