.header {
  position: relative;
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 26px;
    padding-bottom: 26px;
  }

  border-bottom: 1px solid #ececec;
}

.nav-list {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-between;
    margin-right: 120px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 315px;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
    @media screen and (max-width: 390px) {
      margin-bottom: 16px;
    }
  }

  &__link {
    color: $secondary-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 11px;

    transition: fill, color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $third-color;
      fill: $third-color;
      @media screen and(max-width: 767px) {
        padding-left: 8px;
      }
    }

    @media screen and (max-width: 767px) {
      font-size: 40px;
      line-height: 47px;
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__link--current {
    color: $third-color;
    position: relative;

    @media screen and (min-width: 768px) {
      &::after {
        content: '';
        position: absolute;
        bottom: -103%;
        left: 0;
        width: 100%;

        border-bottom: 4px solid $third-color;
        border-radius: 2px;
      }
      @media screen and (min-width: 1200px) {
        &::after {
          content: '';
          position: absolute;
          bottom: -89%;
          left: 0;
          width: 100%;

          border-bottom: 4px solid $third-color;
          border-radius: 2px;
        }
      }
    }
  }
}

.contacts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }
  @media screen and (min-width: 1200px) {
    display: flex;

    justify-content: space-between;
  }

  &__item {
    @media screen and (min-width: 1200px) {
      &:not(:first-child) {
        margin-left: 50px;
      }
    }
  }

  &__link {
    color: var(--main-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @media screen and (max-width: 767px) {
      padding-top: 10px;
    }
    transition: fill, color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $third-color;
      fill: $third-color;
    }

    @media screen and (max-width: 767px) {
      &--header {
        font-size: 24px;
        line-height: 28px;
      }

      &--header:hover,
      &--header:focus {
        font-size: 34px;
        line-height: 40px;
      }
    }
    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 14px;
    }
    @media screen and(min-width:1200px) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.contacts__link--header {
  display: flex;
  align-items: center;
}

.contacts__item--header {
  &:last-child {
    @media screen and (max-width: 1199px) {
      margin-top: 10px;
    }
  }
}
