  $main-color: #757575;
  $secondary-color: #212121;
  $third-color: #2196f3;
  $fourth-color: #f5f5f5;
  $fifth-color: #000000;
  $sixth-color: #ffffff;
  $seventh-color: #2f303a;
  $eighth-color: #f5f4fa;
  $ninth-color: #188ce8;
  $tenth-color: #afb1b8;
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);